/* CSS VARIABLES FOR THE PAGE */
:root {
    --color-primary: #6c63ff;
    --color-secondary:#F34F98;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --trasition: all 400ms ease;
    --shadow: 0 3rem 3rem rgba(0, 0, 0, .5);
    --swiper-theme-color: #00bf8e;
}


/* GENERAL STYLE */
html,
body,
* {
    padding: 0;
    margin: 0;
    /* text-transform: capitalize; */
    text-decoration: none;
    transition: all 250ms;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    background-color: var(--color-bg);
    background-image: url('../../img/bg-texture.png');
    line-height: 1.7;
}


.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6em 0;
}

section h2 {
    margin-bottom: 4em;
    text-align: center;
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    /* color: var(--color-white); */
    text-transform: capitalize;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1em 2em;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--trasition);
}

.btn:hover {
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-danger);
    color: var(--color-white);
}

/* DARKLIGHT */
.darklight {
    position: fixed;
    font-size: 2rem;
    background-color: var(--color-black);
    color: var(--color-white);
    bottom: 1.8em;
    padding: .3em;
    border-radius: 0 50% 50% 0;
    box-shadow: 0 0rem 1rem white;
    cursor: pointer;
    z-index: 500;
    
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVIGATION */

.nav {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 10;
    padding-top: 1em;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.window-scroll {
    background-color: var(--color-bg2);
    box-shadow: var(--shadow);
}

nav .logo {
    color: white;
}

.open-menu,
.close-menu,
.user-btn {
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    padding: 0;
    border: none;
}

.open-menu {
    display: none;
}


.open-menu:hover,
.user-btn:hover {
    color: var(--color-success);
    cursor: pointer;
}

.close-menu:hover {
    color: var(--color-danger);
    cursor: pointer;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 4rem ;
}

.nav-items a {
    font-size: .9rem;
    transition: var(--trasition);
    border-bottom: 5px solid transparent;
    color: var(--color-white);
}

.nav-items a:hover {
    color: rgba(255, 255, 255, .9);
    border-bottom: 5px solid;
}

.nav-items a.selected {
    border-bottom: 5px solid currentColor;
}

.nav__container .icons {
    display: flex;
    justify-content: space-between;
}

.nav__container .icons .btn:first-child {
    margin-right: .5em;
}


/* LOGIN FORM */
.login-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    backdrop-filter: blur(20px);
    color: var(--color-white);
    top: 0;
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    transition: var(--trasition);

}

.overlay {
    background-image: url('../../img/header.svg');
    background-color: var(--color-bg);
    background-repeat: no-repeat;
    background-size: auto;
    filter: blur(.5rem);
    position: fixed;
    top: 0;
    right: -150%;
    height: 100vh;
    width: 100vw;
    z-index: 11;
    transition: var(--trasition);
}

.login-container .close-login-form {
    position: absolute;
    top: 1em;
    right: 1em;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2.5em;
    padding: 0;
}

.login-container .close-login-form:hover {
    color: var(--color-danger);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 3em;
    justify-content: center;
    background-color: var(--color-primary);
    border-radius: 1rem;
}

.login-form input {
    margin: .7em 0;
    padding: .8em;
    width: 70%;
    outline: none;
}

.login-form input[type="submit"] {
    border: 1px solid var(--color-danger);
    background-color: var(--color-danger);
    color: var(--color-white);
    font-weight: bold;
    margin-top: 2em;
    padding: .8em 5em;
    width: unset;
}

.login-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: transparent;
}

/* HEADER */

.header {
    margin-top: 10vh;
    margin-bottom: 2em;
    height: 70vh;
    overflow: hidden;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
}

.header__left p {
    margin: 1em 0 2.4em;
}

/* CATEGORIES */
.categories {
    background-color: var(--color-bg1);
    height: 30rem;
    margin-bottom: 4.5em;

}

.categories__container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories__left {
    margin-right: 4em;
}

.categories__left h1 {
    line-height: 1;
}

.categories__left p {
    margin: 1em 0 3em;
}

.categories__right .learning-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.learning-categories__items {
    background-color: var(--color-bg2);
    padding: 1.5em;
    border-radius: 1rem;
}

.learning-categories__items:hover {
    box-shadow: var(--shadow);
}

.learning-categories__items .learning-categories__icon {
    background-color: var(--color-bg1);
    padding: 1em;
    border-radius: .5rem;
    font-size: 1.2rem;
}

.learning-categories__items:nth-child(2) .learning-categories__icon {
    background-color: var(--color-danger);
}

.learning-categories__items:nth-child(3) .learning-categories__icon {
    background-color: var(--color-success);
}

.learning-categories__items:nth-child(4) .learning-categories__icon {
    background-color: var(--color-warning);
}

.learning-categories__items:nth-child(5) .learning-categories__icon {
    background-color: var(--color-secondary);
}

.learning-categories__items:nth-child(6) .learning-categories__icon {
    background-color: var(--color-primary);
}

.learning-categories__items h5 {
    margin: 1em 0;
    font-size: 1rem;
}

.learning-categories__items p {
    font-size: .8rem;
}

/* COURSES */
.courses {
    text-align: center;
    margin-top: 5em;
}

.courses h1 {
    margin: 2em;
    margin-bottom: 2em;
}

.courses__container .courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.course {
    background-color: var(--color-bg1);
    border: 1px solid transparent;
    transition: var(--trasition);
}

.course:hover {
    border-color: var(--color-secondary);
    /* background-color: transparent; */
    background-color: var(--color-bg2);
    box-shadow: var(--shadow);
}
.course .course-title {
    margin: 1em;
}

.course .course-description {
    font-size: .9rem;
    padding: 0 1.5em;
    margin-bottom: 2em;
}

.course a {
    margin-bottom: 1.5em;
}

/* FAQS */

.faqs {
    background-color: var(--color-bg1);
}

.faqs h1 {
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 0;
}

.faqs__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.faqs-inner-container span {
    color: var(--color-white);
}

.faqs-inner-container {
    padding: 1.5em;
    display: flex;
    align-items: flex-start;
    height: fit-content;
    gap: 1em;
    color: white;
    background-color: var(--color-primary);
    border-radius: .5rem;
}

.question {
    font-size: 1rem;
}

.answer {
    display: none;
    margin-top: 1.5em;
    font-size: .8rem;
}

@keyframes show-answer {
    0% {
        opacity: .1;
    }


    100% {
        opacity: 1;
    }
}

.show-answer {
    display: block;
    animation-name: show-answer;
    animation-duration: 2s;
}

.expand-question {
    background-color: var(--color-bg2);
    padding: .3em;
    border-radius: 50%;
    align-self: flex-start;
}

.expand-question:hover {
    cursor: pointer;
    background-color: var(--color-bg1);
}


/* TESTIMONIALS */

.testimonials {
    text-align: center;
}

.avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 1em auto;
    border: .5rem solid var(--color-success);
}

.avatar-info {
    padding: .5em 0 1em;
}

.avatar-name {
    font-size: 1.2rem;
}

.avatar-role {
    font-size: .9rem;
}

.testimonial-details {
    position: relative;
    background-color: var(--color-primary);
    color: white;
    padding: 1em;
    margin-top: 2em;
    border-radius: 1rem;
}

.testimonial-details::before {
    content: '';
    height: 3rem;
    width: 3rem;
    background: linear-gradient(135deg, transparent, var(--color-primary), var(--color-primary), var(--color-primary));
    position: absolute;
    left: 45%;
    z-index: -15;
    top: -1.5rem;
    transform: rotate(45deg);
}

/* FOOTER */

.footer {
    background-color: var(--color-bg1);
    padding: 3em 0;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2em;
    align-items: baseline;
}

.footer__container .about .logo {
    margin-bottom: 1em;
}

.footer__container .about .slogan,
.permalinks a,
.privacy a,
.contacts a {
    font-size: .9rem;
    line-height: 2;
    color: var(--color-white);
}

.permalinks,
.privacy,
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.permalinks h4,
.privacy h4,
.contacts h4 {
    margin-bottom: 1em;
}

.permalinks a:hover,
.privacy a:hover,
.contacts a:hover {
    color: var(--color-white);
    opacity: .6;
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.social-media a {
    font-size: 1.5rem;
}

/* MEDIA QUERIES */
@media screen and (max-width:1024px) {

    /* GENERAL STYLE */
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /* NAV BAR */

    section {
        padding: 4em 0;
    }
    .open-menu,
    .close-menu {
        display: block;
    }
    
    .nav-menu {
        display: none;
        position: fixed;
        top: 12vh;
        right: 4%;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: stretch;
        gap: 0;
        background-color: transparent;
        box-shadow: 0 0 10rem rgba(0, 0, 0, .5);
        
    }

    .nav-menu.open {
        display: flex;
    }

    .nav-items a {
        display: block;
        font-size: 1.2rem;
        padding: 1em 5em;
        color: var(--color-black);
        transition: var(--trasition);
    }
    
    .nav-items {
        background-color: var(--color-primary);
        transform-origin: top right;
        animation: animateNav 200ms linear forwards;
        opacity: 0;
    }

    .nav-items:nth-child(2) {
        animation-delay: 100ms;
    }

    .nav-items:nth-child(3) {
        animation-delay: 200ms;
    }

    .nav-items:nth-child(4) {
        animation-delay: 300ms;
    }

    @keyframes animateNav {
        0% {
            transform: rotateZ(-90deg) rotateX(-90deg) scale(0.1);
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav-items a:hover {
        background-color: var(--color-bg);
        color: var(--color-white);
    }

    /* HEADER SECTION */
    .header {
        height: 60vh;
    }

    /* CATERGORIES SECTION */

    .categories {
        margin-top: 3em;
        margin-bottom: 0;
        padding-bottom: 5em;
        height: auto;
    }

    .categories__container {
        grid-template-columns: 1fr;
        gap: 3em;
    }

    .categories__left {
        margin-right: 4em;
    }

    .categories__left h1 {
        padding: 0 0 .3em;
    }

    /* COURSES */

    .courses {
        margin-top: 0;
    }

    .courses h1 {
        margin: 0;
        padding-bottom: 1.5em;
    }

    .course .course-description {
        font-size: .85rem;
    }

    .course a {
        font-size: .8rem;
    }

    /* FAQS */
    .faqs {
        padding-top: 4em;
    }
    .faqs h1 {
        margin-bottom: 1.5em;
    }

    .faqs__container {
        gap: .5em;
    }

    /* TESTIMONIALS */

    .avatar {
        height: 5rem;
        width: 5rem;
        border-width: .5rem;
    }

    .avatar-name {
        font-size: 1rem;
    }

    .avatar-role {
        font-size: .8rem;
    }

    .testimonial-details {
        font-size: .85rem;
        padding: 1.5em;
    }

    /* FOOTER */
    .footer__container {
        gap: 1em;
        row-gap: 2em;
    }
}

@media (max-width:990px) {
    * {
        font-size: 97%;
    }
}

@media (max-width:910px) {
    /* HEADER */
    .header {
        height: unset;
    }
    .header__container {
        height: unset;
        margin: 3em auto;
    }

    /* COURSES */

    .courses__container .courses-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1em;
        row-gap: 2em;
    }

    .course {
        padding-bottom: 1em;
    }

}

@media (max-width:750px) {

    /* CATEGORIES SECTION */
    .categories__right .learning-categories {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .learning-categories__items {
        padding: 2em;
    }

    /* FAQS */
    .faqs__container {
        grid-template-columns: 1fr;
        row-gap: 1em;
        align-items: center;
        justify-content: center;
    }

    .faqs-inner-container {
        margin: 0 1em;
    }


    .overlay {
        background-position: center;
        background-size: auto;
    }

    .login-container {
        width: 90%;
        margin-right: 5%;
    }

    .login-form {
        display: grid;
        grid-template-columns: 1fr;
        padding: 3em 1em;
        margin-top: -10em;
        width: 100%;
    }

    .login-form input {
        width: 100%;
    }

    .login-form input[type="submit"] {
        width: 50%;
        margin: 0 auto;
        margin-top: 2em;
    }
}

@media (max-width:660px) {

    .container {
        width: var(--container-width-sm);
    }
    .header__container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .course {
        margin: 0 1em;
    }
}

@media (max-width:570px) {

    /* CATEGORIES */
    .categories__left {
        text-align: center;
        margin: 0 auto;
        padding: 0 2em;
    }

    .categories__left a {
        margin: 0 auto;
    }

    /* FAQS */
    .faqs__container {
        grid-template-columns: 1fr;
    }

    /* FOOTER */
    .footer__container * {
        text-align: center;
        align-items: center;
    }

    .footer__container {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .footer__container > div::before {
        content: '';
        height: 2px;
        width: 50%;
        background-color: var(--color-primary);
        margin-bottom: 1em;
    }

    .social-media {
        margin-top: 1em;
    }
}

@media (max-width:524px) {
    .categories__right .learning-categories {
        grid-template-columns: 20rem;
        text-align: center;
        justify-content: center;
    }
}