/* CSS VARIABLES FOR THE PAGE */
:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --trasition: all 400ms ease;
    --shadow: 0 3rem 3rem rgba(0, 0, 0, .5);
}


/* GENERAL STYLE */
html,
body,
* {
    padding: 0;
    margin: 0;
    /* text-transform: capitalize; */
    text-decoration: none;
    transition: all 250ms;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    background-color: var(--color-bg);
    line-height: 1.7;
}


.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6em 0;
}

section h2 {
    margin-bottom: 4em;
    text-align: center;
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
    text-transform: capitalize;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1em 2em;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--trasition);
}

.btn:hover {
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background-color: var(--color-danger);
    color: var(--color-white);
}

/* NAVIGATION */

.nav {
    height: 7vh;
    width: 100vw;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 1000;
    padding-top: 1em;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
}

.window-scroll {
    background-color: var(--color-bg2);
    box-shadow: var(--shadow);
}

.open-menu {
    display: none;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 4rem ;
}

.nav-items a {
    font-size: .9rem;
    transition: var(--trasition);
}

.nav-items a:hover {
    color: var(--color-primary);
}


/* HEADER */

.header {
    position: relative;
    top: 10vh;
    height: 70vh;
    background-color: gray;
    overflow: hidden;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
}

.header__left p {
    margin: 1em 0 2.4em;
}

/* CATEGORIES */
.categories {
    background-color: var(--color-bg1);
    height: 17rem;
    margin-top: 2em;

}

.categories__container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories__left {
    margin-right: 4em;
}

.categories__left h1 {
    line-height: 1;
}

.categories__left p {
    margin: 1em 0 3em;
}

.categories__right .learning-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.learning-categories__items {
    background-color: var(--color-bg2);
    padding: 1.5em;
    border-radius: 1rem;
}

.learning-categories__items:hover {
    box-shadow: var(--shadow);
}

.learning-categories__items .learning-categories__icon {
    background-color: var(--color-bg1);
    padding: 1em;
    border-radius: .5rem;
}

.learning-categories__items:nth-child(2) .learning-categories__icon {
    background-color: var(--color-danger);
}

.learning-categories__items:nth-child(3) .learning-categories__icon {
    background-color: var(--color-success);
}

.learning-categories__items:nth-child(4) .learning-categories__icon {
    background-color: var(--color-warning);
}

.learning-categories__items:nth-child(5) .learning-categories__icon {
    background-color: var(--color-success);
}

.learning-categories__items:nth-child(6) .learning-categories__icon {
    background-color: var(--color-primary);
}

.learning-categories__items h5 {
    margin: 1em 0;
    font-size: 1rem;
}

.learning-categories__items p {
    font-size: .8rem;
}

/* COURSES */
.courses {
    text-align: center;
    margin-top: 5em;
}

.courses h1 {
    margin: 1em;
    margin-bottom: 2em;
}

.courses__container .courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.course {
    background-color: var(--color-bg1);
    border: 1px solid transparent;
    transition: var(--trasition);
}

.course:hover {
    border-color: var(--color-primary);
    background-color: transparent;
    box-shadow: var(--shadow);
}
.course .course-title {
    margin: 1em;
}

.course .course-description {
    font-size: .9rem;
    padding: 0 1.5em;
    margin-bottom: 2em;
}

.course a {
    margin-bottom: 1.5em;
}

/* FAQS */

.faqs {
    background-color: var(--color-bg1);
}

.faqs h1 {
    text-align: center;
    margin-bottom: 3em;
}

.faqs__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.faqs-inner-container {
    padding: 1.5em;
    display: flex;
    align-items: flex-start;
    height: fit-content;
    gap: 1em;
    background-color: var(--color-primary);
}

.question {
    font-size: 1rem;
}

.answer {
    display: none;
    margin-top: 1.5em;
    font-size: .8rem;
}

@keyframes show-answer {
    0% {
        opacity: .1;
    }


    100% {
        opacity: 1;
    }
}

.show-answer {
    display: block;
    animation-name: show-answer;
    animation-duration: 2s;
}

.expand-question {
    background-color: var(--color-bg2);
    padding: .3em;
    border-radius: 50%;
    align-self: flex-start;
}

.expand-question:hover {
    cursor: pointer;
    background-color: var(--color-bg1);
}


