/* CSS VARIABLES FOR THE PAGE */
:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --trasition: all 400ms ease;
    --shadow: 0 3rem 3rem rgba(0, 0, 0, .5);
    --swiper-theme-color: #00bf8e;
}


/* GENERAL STYLE */
html,
body,
* {
    padding: 0;
    margin: 0;
    /* text-transform: capitalize; */
    text-decoration: none;
    transition: all 250ms;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    background-color: var(--color-bg);
    line-height: 1.7;
}


.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6em 0;
}

section h2 {
    margin-bottom: 4em;
    text-align: center;
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
    text-transform: capitalize;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1em 2em;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--trasition);
}

.btn:hover {
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background-color: var(--color-danger);
    color: var(--color-white);
}

/* NAVIGATION */

.nav {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 1000;
    padding-top: 1em;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.window-scroll {
    background-color: var(--color-bg2);
    box-shadow: var(--shadow);
}

.open-menu,
.close-menu {
    display: none;
    background-color: transparent;
    color: var(--color-white);
    font-size: 2.5rem;
    padding: 0;
    border: none;
}


.open-menu:hover {
    color: var(--color-success);
    cursor: pointer;
}

.close-menu:hover {
    color: var(--color-danger);
    cursor: pointer;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 4rem ;
}

.nav-items a {
    font-size: .9rem;
    transition: var(--trasition);
}

.nav-items a:hover {
    color: var(--color-primary);
}


/* HEADER */

.header {
    position: relative;
    top: 10vh;
    height: 70vh;
    background-color: gray;
    overflow: hidden;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
}

.header__left p {
    margin: 1em 0 2.4em;
    width: 80%;
}

/* CATEGORIES */
.categories {
    background-color: var(--color-bg1);
    height: 30rem;
    margin-bottom: 4.5em;

}

.categories__container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories__left {
    margin-right: 4em;
}

.categories__left h1 {
    line-height: 1;
}

.categories__left p {
    margin: 1em 0 3em;
}

.categories__right .learning-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.learning-categories__items {
    background-color: var(--color-bg2);
    padding: 1.5em;
    border-radius: 1rem;
}

.learning-categories__items:hover {
    box-shadow: var(--shadow);
}

.learning-categories__items .learning-categories__icon {
    background-color: var(--color-bg1);
    padding: 1em;
    border-radius: .5rem;
}

.learning-categories__items:nth-child(2) .learning-categories__icon {
    background-color: var(--color-danger);
}

.learning-categories__items:nth-child(3) .learning-categories__icon {
    background-color: var(--color-success);
}

.learning-categories__items:nth-child(4) .learning-categories__icon {
    background-color: var(--color-warning);
}

.learning-categories__items:nth-child(5) .learning-categories__icon {
    background-color: var(--color-success);
}

.learning-categories__items:nth-child(6) .learning-categories__icon {
    background-color: var(--color-primary);
}

.learning-categories__items h5 {
    margin: 1em 0;
    font-size: 1rem;
}

.learning-categories__items p {
    font-size: .8rem;
}

/* COURSES */
.courses {
    text-align: center;
    margin-top: 5em;
}

.courses h1 {
    margin: 2em;
    margin-bottom: 2em;
}

.courses__container .courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.course {
    background-color: var(--color-bg1);
    border: 1px solid transparent;
    transition: var(--trasition);
}

.course:hover {
    border-color: var(--color-primary);
    background-color: transparent;
    box-shadow: var(--shadow);
}
.course .course-title {
    margin: 1em;
}

.course .course-description {
    font-size: .9rem;
    padding: 0 1.5em;
    margin-bottom: 2em;
}

.course a {
    margin-bottom: 1.5em;
}

/* FAQS */

.faqs {
    background-color: var(--color-bg1);
}

.faqs h1 {
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 0;
}

.faqs__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.faqs-inner-container {
    padding: 1.5em;
    display: flex;
    align-items: flex-start;
    height: fit-content;
    gap: 1em;
    background-color: var(--color-primary);
}

.question {
    font-size: 1rem;
}

.answer {
    display: none;
    margin-top: 1.5em;
    font-size: .8rem;
}

@keyframes show-answer {
    0% {
        opacity: .1;
    }


    100% {
        opacity: 1;
    }
}

.show-answer {
    display: block;
    animation-name: show-answer;
    animation-duration: 2s;
}

.expand-question {
    background-color: var(--color-bg2);
    padding: .3em;
    border-radius: 50%;
    align-self: flex-start;
}

.expand-question:hover {
    cursor: pointer;
    background-color: var(--color-bg1);
}


/* TESTIMONIALS */

.testimonials {
    text-align: center;
}

.avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 1em auto;
    border: .7rem solid var(--color-bg2);
}

.avatar-info {
    padding: .5em 0 1em;
}

.avatar-name {
    font-size: 1.2rem;
}

.avatar-role {
    font-size: .9rem;
}

.testimonial-details {
    position: relative;
    background-color: var(--color-primary);
    padding: 1em;
    margin-top: 2em;
    border-radius: 1rem;
}

.testimonial-details::before {
    content: '';
    height: 3rem;
    width: 3rem;
    background: linear-gradient(135deg, transparent, var(--color-primary), var(--color-primary), var(--color-primary));
    position: absolute;
    left: 48%;
    z-index: -15;
    top: -1.5rem;
    transform: rotate(45deg);
}

/* FOOTER */

.footer {
    background-color: var(--color-bg1);
    padding: 3em 0;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2em;
    align-items: baseline;
}

.footer__container .about .logo {
    margin-bottom: 1em;
}

.footer__container .about .slogan,
.permalinks a,
.privacy a,
.contacts a {
    font-size: .9rem;
    line-height: 2;
    /* background-color: black; */
}

.permalinks,
.privacy,
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.permalinks h4,
.privacy h4,
.contacts h4 {
    margin-bottom: 1em;
}

.permalinks a:hover,
.privacy a:hover,
.contacts a:hover {
    color: var(--color-primary);
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.social-media a {
    font-size: 1.5rem;
}

/* MEDIA QUERIES */
@media screen and (max-width:1024px) {

    /* GENERAL STYLE */
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /* NAV BAR */

    section {
        padding: 4em 0;
    }
    .open-menu,
    .close-menu {
        display: block;
    }
    .nav-menu {
        display: none;
        position: fixed;
        top: 12vh;
        right: 4%;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: stretch;
        gap: 0;
        background-color: transparent;
        box-shadow: 0 0 10rem rgba(0, 0, 0, .5);
        
    }

    .nav-menu.open {
        display: flex;
    }

    .nav-items a {
        display: block;
        font-size: 1.2rem;
        padding: 1em 5em;
        transition: var(--trasition);
    }
    
    .nav-items {
        background-color: var(--color-primary);
        transform-origin: top right;
        animation: animateNav 200ms linear forwards;
        opacity: 0;
    }

    .nav-items:nth-child(2) {
        animation-delay: 100ms;
    }

    .nav-items:nth-child(3) {
        animation-delay: 200ms;
    }

    .nav-items:nth-child(4) {
        animation-delay: 300ms;
    }

    @keyframes animateNav {
        0% {
            transform: rotateZ(-90deg) rotateX(-90deg) scale(0.1);
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav-items a:hover {
        background-color: var(--color-bg);
        color: white;
    }

    /* HEADER SECTION */
    .header {
        height: 60vh;
    }

    /* CATERGORIES SECTION */

    .categories {
        margin-top: 3em;
        margin-bottom: 0;
        padding-bottom: 5em;
        height: auto;
    }

    .categories__container {
        grid-template-columns: 1fr;
        gap: 3em;
    }

    .categories__left {
        margin-right: 4em;
    }

    .categories__left h1 {
        padding: 0 0 .3em;
    }

    /* COURSES */

    .courses {
        margin-top: 0;
    }

    .courses h1 {
        margin: 0;
        padding-bottom: 1.5em;
    }

    .course .course-description {
        font-size: .85rem;
    }

    .course a {
        font-size: .8rem;
    }

    /* FAQS */
    .faqs {
        padding-top: 4em;
    }
    .faqs h1 {
        margin-bottom: 1.5em;
    }

    .faqs__container {
        gap: .5em;
    }

    /* TESTIMONIALS */

    .avatar {
        height: 5rem;
        width: 5rem;
        border-width: .5rem;
    }

    .avatar-name {
        font-size: 1rem;
    }

    .avatar-role {
        font-size: .8rem;
    }

    .testimonial-details {
        font-size: .85rem;
        padding: 1.5em;
    }

    /* FOOTER */
    .footer__container {
        gap: 1em;
        row-gap: 2em;
    }
}